html,body{
  background-color: #333;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Montserrat Alternates', sans-serif; */
}
@page{
  size: auto;   /* auto is the initial value */
  /* this affects the margin in the printer settings */
  margin: 0;
}
@media print{
  html, body{
    background-color: red !important;
  }
  #resume{
    border: none !important;
    margin: 0 !important;
  }
}
#resume{
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  margin: 40px auto 40px;
  padding: 10px 20px;
  border: 1px solid #eee;
  /* position: absolute;
  top: 0;
  left: 0; */
  /* 8.5x11 ratio = 1.29411764706 */
  width: 816px;
  height: 1056px;
  /* overflow: hidden; */
}
#resume h1{
  font-size: 2.6rem;
  margin-bottom: 10px;
  /* text-transform: uppercase; */
}
#resume h2{
  font-size: 0.9rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #fff;
  display: inline-block;
}
#resume h2::after{
  content: "  ";
  white-space: pre;
}
#resume h3{
  font-size: 0.9rem;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 900;
}
#resume h3.light{
  font-weight: 700;
}
#resume h3 a{
  font-weight: inherit;
  font-size: inherit;
}
#resume p,a,span{
  font-size: 0.82rem;
  font-weight: 400;
  line-height: 18px;
}
#resume p{
  margin-top: 1px;
  margin-bottom: 1px;
  /* margin-top: 0;
  margin-bottom: 0; */
}
#resume p.link a{
  font-weight: 700;
}
#resume a{
  text-decoration: none;
  color: #000;
}
#resume hr{
  height: 1px;
  margin-top: 30px;
  margin-bottom: -21px;
  z-index: 100;
  border: medium none;
  border-top: #eee 1px solid;
}
#resume .row:not(.outer){
  padding: 20px;
}
#resume .row > *{
  margin-bottom: 2px;
}
#resume .t-c{
  text-align: center;
}
#resume .mb-xs{
  margin-bottom: 5px;
}
#resume .inline{
  display: inline-block;
  margin-top: inherit;
  margin-bottom: inherit;
  padding-top: 5px;
}
#resume .bulleted > *::before{
  content: '\2022';
  /* margin-left: 6px; */
  margin-right: 4px;
  font-weight: 100;
}
#resume .contact{
  text-align: center;
  margin-bottom: -20px;
  z-index: 2;
}
#resume .contact > *::after {
  content: '\2022';
  margin-left: 6px;
  margin-right: 4px;
  /* opacity: 0.5; */
  font-weight: 100;
}
#resume .contact > *:last-child:after {
  content: "";
}
#resume .skillset{
  /* margin-bottom: 10px; */
}
#resume .dateloc{
  margin-top: 5px;
}
